.App {
  display:flex;
  height:100vh;
  width:100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image:url('https://t4.ftcdn.net/jpg/02/66/38/15/360_F_266381525_alVrbw15u5EjhIpoqqa1eI5ghSf7hpz7.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

.board{
  background-color:#F4F4F5 ;
  padding:50px;
  border-radius: 50px;
}